/*CÓDIGO EN GENERAL*/

/*DECLARANDO VARIABLES*/
$amarillo-web: #eedd9f;
$rojo-web: #6f2829;

header {
    background-color: $rojo-web;
    grid-area: header;
}

p {
    color: $rojo-web;
}

h1 {
    color: $amarillo-web;
}

/*USANDO BUCLE*/
@for $i from 1 through 3 {
    h#{$i} {
        font-size: 40px - ($i*4);
    }
}

form {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 400px;
    background-color: #E7E7E7;
    margin: 0 auto;
    border-style: dashed;
    border-color: burlywood;
}

body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center !important;
}

.tiktoks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@mixin sizes($width, $height){
    height: $height;
    width: $width;
}

.logoNav {
    @include sizes(65px, 65px);
    transition: all 3s;
}

.logoNav:hover{
transform: rotateY(180deg);
}

ul li a:hover{
    font-weight: bold;
}

.bannerIndex{
    transition: all 2s;
}

.bannerIndex:hover{
    transform: scale(0.95,0.95);
}

.bloqueNav{
    width: 100%;
    background: $amarillo-web;
}

#btn-menu{
    display:none;
}

div label{
    display:none;
    @include sizes(40px, 40px);
    padding: 10px;
}

div label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu ul{
    margin:0;
    list-style: none;
    padding: 0;
    display:flex;
    align-items: center;
}

.menu li{
    flex-grow: 1;
         a{
            display:block;
            padding: 10px 15px;
            color: $rojo-web;
            text-decoration: none;
        }
}

.menu li:hover{
    background: rgba(0,0,0,0.3)
}

img {
    width: 100%;
}


.guiaLima {
    background-color: $amarillo-web;
}

.fondoContacto {
    background-image: linear-gradient(to right, $rojo-web, $amarillo-web);
}

.bloqueFormularioAC {
    background-color: $amarillo-web;
    color: $rojo-web;
}

.contenedorQS {
    grid-area: quienesSomos;
    background-color: $amarillo-web;
}

.contenedorQS__div {
    display: grid;
    grid-template-areas: 
    "titulo foto"
    "parrafo foto";
    align-items: center;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: 1fr 3fr;
}

.contenedorQS__titulo {
    grid-area: titulo;
    color: $rojo-web;
    }
    
.contenedorQS__parrafo {
    grid-area: parrafo;
    padding: 30px 30px;
}

.contenedorQS__foto {
    grid-area: foto;
}

.contenedorQH {
    background-color: $rojo-web;
    grid-area: queHacemosId;
}

.contenedorQH__div {
    display: grid;
    grid-template-areas:
    "fauna tituQueHace"
    "fauna textoQueHace";
    align-items: center;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 1fr 3fr;
}

.contenedorQH__titulo {
    color: $amarillo-web;
    padding: 30px 30px;
    grid-area: tituQueHace;
}

.contenedorQH__parrafo {
    @extend.contenedorQH__titulo;
    grid-area: textoQueHace;
}

.contenedorQH__foto {
    grid-area: fauna;
}


/*BLOQUE DE CÓDIGO PARA EL GRID INDEX*/

.containerIndex {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
    "nav"
    "header"
    "quienesSomos"
    "queHacemosId"
    "marcasConfian";
}


#fotografia{
    background-color: $amarillo-web;
}

#video{
    background-color: bisque;
}

#marcasConfian {
    grid-area: marcasConfian;
    background-color: $amarillo-web;
    color: $rojo-web;
}

.imagenesTop5{
width: 60%;
}

h3{
    color: $rojo-web;
}

/*BLOQUE DE CÓDIGO PARA EL GRID ANTOJADDOS STUDIO*/

.container2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
    "nav nav"
    "header header"
    "fotografia fotografia"
    "video video";
}

.containerFoto {
    display: grid;
    grid-template-areas: 
    "tituFoto fotoStudio"
    "textoFoto fotoStudio";
    align-items: center;
}

#tituFoto{
    grid-area: tituFoto;
    color: $rojo-web;
}

#textoFoto{
    grid-area: textoFoto;
    padding: 20px 20px;
}

.fotoStudio{
    grid-area: fotoStudio;
}

.containerVideo{
    display: grid;
    grid-template-areas: 
    "videoStudio tituVideo"
    "videoStudio textoVideo";
    align-items: center;
}

#tituVideo{
    grid-area: tituVideo;
    color: $rojo-web;
}

#textoVideo{
    grid-area: textoVideo;
    padding: 30px 30px;
}

.videoStudio{
    grid-area: videoStudio;
}

.titulosRojo{
    color: $rojo-web;
}

.tituloAmarillo{
    color: $amarillo-web;
}

.margenParrafo{
    margin: 0 50px 0 50px;
}

/*BLOQUE DE RESPONSIVE INDEX*/

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .contenedorQS__div {
        display: grid;
        grid-template-areas: 
        "titulo titulo"
        "parrafo parrafo"
        "foto foto";
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .contenedorQS__div {
        display: grid;
        background-color: $amarillo-web;
        grid-template-areas: 
        "titulo titulo"
        "parrafo parrafo"
        "foto foto";
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .contenedorQH__div {
        display: grid;
        grid-template-areas: 
        "tituQueHace tituQueHace"
        "textoQueHace textoQueHace"
        "fauna fauna";
        align-items: center;
        justify-content: center;
    }

    .menu{
        position:absolute;
        background: $amarillo-web;
        width: 100%;
        margin-left: -100%;
        transition: all 0.5s;
            ul{
                flex-direction: column;
            }
    }

    .tiktoks{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    div label {
        display:block;
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }
}


/*BLOQUE DE RESPONSIVE ANTOJADDOS STUDIO*/


@media only screen and (max-width: 768px) {
    .containerFoto {
        display: grid;
        grid-template-areas: 
        "tituFoto tituFoto"
        "textoFoto textoFoto"
        "fotoStudio fotoStudio";
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .containerVideo{
    display: grid;
    grid-template-areas: 
    "tituVideo tituVideo"
    "textoVideo textoVideo"
    "videoStudio videoStudio";
    align-items: center;
    }
}